<section id="experiences" class="min-h-screen">
    <div class="max-w-7xl mx-auto m-8 px-6  w-full ">
   
        <div class="flex items-center gap-4 mb-12">
            <div class="w-12 h-12 bg-linear-to-br from-gray-800 to-gray-900 rounded-lg flex items-center justify-center shadow-lg">
                <img src="https://icongr.am/clarity/briefcase.svg?size=64&color=ffffff" class="w-7 h-7" />
            </div>

            <h2 class="text-3xl md:text-5xl font-[Hoover] font-bold text-black px-4 py-2 bg-white/40 backdrop-blur-sm rounded-lg">
                Experiences
            </h2>
        </div>

        
        <!-- Timeline container -->
<div class="relative">
    <!-- Vertical line -->
    <div class="absolute left-4 top-0 bottom-0 w-1.5 bg-gray-700"></div>
    
    <div class="relative m-8">
        @for(experience of experiences; track experience.position; let i = $index) {
            <div class="relative pb-12 last:pb-0">
                <!-- Timeline dot -->
                <div class="absolute -left-5.5 top-2 w-4 h-4 bg-blue-500 rounded-xl border-4 border-slate-900 z-10"></div>
                
                <app-experience-detail 
                    [experience]="experience">
                </app-experience-detail>
            </div>
        }
    </div>
</div>
    </div>
</section>