<section id="projects" class="min-h-screen py-20 ">
  <div class="max-w-7xl mx-auto px-6">
    
    <!-- Header Section -->
    <div class="flex items-center gap-4 mb-12">
      <div class="w-12 h-12 bg-linear-to-br from-amber-900 to-amber-950 rounded-lg flex items-center justify-center shadow-lg">
        <img
          src="https://icongr.am/clarity/briefcase.svg?size=64&color=ffffff"
          alt="briefcase icon"
          class="w-7 h-7"
        />
      </div>
      <h2 class="text-3xl md:text-4xl font-bold text-black">Projets</h2>
    </div>

    <!-- Projects List -->
    <div class="space-x-20">
      @for(project of mainProjects; track project.title) {
        <app-project-detail 
          [project]="project">
        </app-project-detail>
      }
    </div>
    
  </div>
</section>